<div class="atomentry" id="article-<%= article.id %>">
  <h2 class="title">
    <%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title) %>
    <%= content_tag(:span, article.published_comments.size, :class => 'comment_count') if article.published_comments.size > 0 %>
  </h2>

  <p class="author">
    <%= content_tag(:span, category_links(article), :class => 'categories') unless article.categories.empty? %>&nbsp;
    <!--abbr class="published" title="<%#= article.published_at.xmlschema %>"><%#= js_distance_of_time_in_words_to_now article.published_at %></abbr -->
    <abbr class="published" title="<%= article.published_at.xmlschema %>"><%= _(article.published_at.utc.strftime(_("%%a, %%d %%b %%Y %%H:%%M", article.published_at.utc))) %>
  </p>

  <div class="content">
    <%= article.html(:body) %>

    <% if article.extended? -%>
      <div class="extended">
        <% if controller.action_name == 'index' || controller.action_name != 'redirect' -%>
          <p><%= link_to_permalink article, _("Continue reading...") %>&nbsp;<img src="/images/theme/arrow-continue.png" /></p>
        <% else -%>
          <%= article.html(:extended) %>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <ul class="meta">
    <%= content_tag(:li, tag_links(article), :class => 'tags') unless article.tags.empty? %>
    <% unless controller.action_name == 'redirect' %>
    <li class="comments-counter">
    <% if  article.allow_comments? %>
    <a href="<%= article.permalink_url + '#disqus_thread' %>"><%= article.published_comments.size %></a> 
    <% end %>
    </li>
    <% end %>
  </ul>
  
<% unless controller.action_name == 'redirect' %>
  <img class="devider" src="/images/theme/devider.gif" align="left" />
<% end %>
</div>


